.hotel-details {
  background-color: rgb(231, 231, 231);
  border-radius: 10px;
}
.details {
  border-style: solid;
  border-color: gray;
  border-width: 1px;
  border-radius: 5px;
}
.hotel-img {
  border-radius: 10px;
}
