.review-container {
  margin-top: 5px;
  border-radius: 5px;
}
.positive {
  background-color: rgba(230, 255, 230, 0.568);
}
.negative {
  background-color: rgba(253, 223, 212, 0.671);
}
.user {
  border-right: 1px solid rgb(194, 194, 194);
}
